DATABASE_URL=postgresql://USER:PASSWORD@HOST:6543/DATABASE?sslmode=require&uselibpqcompat=true

DIRECT_URL=postgresql://postgres:PASSWORD@db.PROJECT.supabase.co:5432/postgres?sslmode=require

SUPABASE_URL=https://YOUR_PROJECT.supabase.co
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_ANON_KEY=

NODE_ENV=development

JWT_SECRET=
JWT_EXPIRES_IN=8h
REFRESH_TOKEN_EXPIRES_IN=7d

PORT=3000
